.nav {
  height: 120px;
  width: 100%;
  background-color: rgba(53, 188, 178, 255);
  display: flex;
  justify-content: space-around;
}
.listado {
  list-style: none;
  display: flex;
  margin-top: 50px;
  padding: 0%;
}
.listado li {
  margin: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.category {
  text-decoration: none;
  color: #007BFF;
  font-size: 1.2em;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.category:hover {
  background-color: #f0f0f0;
  border-color: #007BFF;
  color: #0056b3;
}