.nav {
  height: 120px;
  width: 100%;
  background-color: rgba(53, 188, 178, 255);
  display: flex;
  justify-content: space-between;
}
.listado {
  list-style: none;
  display: flex;
  margin-top: 50px;
  padding: 0%;
}
.listado li {
  margin: 5px;
  transition: all 0.3s ease;
}
li:hover {
  text-decoration: underline;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  margin: 0;
}
